<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497472759859-jeaqgfjajr4l57nbueuauu9v9ccfsear.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497472759859-jeaqgfjajr4l57nbueuauu9v9ccfsear</string>
	<key>API_KEY</key>
	<string>AIzaSyCKQDBjG0O1A-17TVW_s7SNygsixhh1OrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>497472759859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokerApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pokerapp-6602c</string>
	<key>STORAGE_BUCKET</key>
	<string>pokerapp-6602c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497472759859:ios:4ca9784cac624c457e1b46</string>
</dict>
</plist>